<%- include('../../partials/header.ejs') %>

    <div class="container my-container">
        <div class="row rounded-3 my-4">
            <div class="col-md-6 offset-md-3 bg-light px-4 pt-4">
                <form action="/auth/signup" method="POST">
                    <h4>Create a New Account</h4>
                    <div class="form-group my-3">
                        <label for="username">Enter Your User Name ( Must Be Unique)</label>
                        <input type="text" name="username"
                            class="form-control mt-2 <%= error.username ? 'is-invalid' : '' %>" id="username"
                            placeholder="HeroAlom52">
                        <div class="invalid-feedback">
                            <%= error.username && error.username %>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <label for="email">Enter Your Valid Email</label>
                        <input type="email" name="email"
                            class="form-control mt-2 <%= error.email ? 'is-invalid' : '' %>" id="email"
                            placeholder="name@gmail.com">
                        <div class="invalid-feedback">
                            <%= error.email && error.email %>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <label for="password">Enter Your Strong Password</label>
                        <input type="password" name="password"
                            class="form-control mt-2 <%= error.password ? 'is-invalid' : '' %>" id="password"
                            placeholder="Yqye4D&5$u">
                        <div class="invalid-feedback">
                            <%= error.password && error.password %>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <label for="confirmPassword">Confirm Your Password</label>
                        <input type="password" name="confirmPassword"
                            class="form-control mt-2 <%= error.confirmPassword ? 'is-invalid' : '' %>"
                            id="confirmPassword" placeholder="Yqye4D&5$u">
                        <div class="invalid-feedback">
                            <%= error.confirmPassword && error.confirmPassword %>
                        </div>
                    </div>
                    <button class="w-100 btn btn-primary mt-1" type="submit">Sign Up</button>
                </form>
                <div class="my-3 text-center">
                    <a href="/auth/login" class="my-3 text-center">Already have an Account? Login</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>