<%- include('../../partials/header.ejs', user) %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../partials/sidebar.ejs') %> 
            </div>
            <div class="col-md-10">
                <div class="mx-5 card card-body my-5">
                    <h5>List of My Posts</h5>
                    <div class="row">
                        <%if(posts.length===0){%>
                            <div class="text-center text-muted">
                                <p>There is no posts available right now</p>
                                <a href="/posts/create" class="btn btn-primary btn-sm">Create Rost Now</a>
                            </div>
                            <% }else{%>
                                <% for(let post of posts.reverse()){%>
                                    <div class="card col-sm-3 m-3">
                                        <% if(post.thumbnail){%>
                                                <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top mt-3">
                                            <%} %> 
                                            <div class="card-body">
                                                <a href="/posts/edit/<%= post._id %>" style="color:#222; text-decoration: none;">
                                                    <h5><%= post.title %></h5>
                                                </a>
                                            </div>
                                    </div>
                                    <%} %>
                           <%} %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <%- include('../../partials/footer.ejs', ) %>


        </body>

        </html>